/problema1/CostoTerreno/nbproject/private/
/problema1/CostoTerreno/build/
/problema2/horas/nbproject/private/
/problema2/horas/build/
/problema3/Institucion Educativa/nbproject/private/
/problema3/Institucion Educativa/build/
/problema3/DispositivosElectronicos/nbproject/private/
/problema4/DispositivosElectronicos/nbproject/private/
/problema4/DispositivosElectronicos/build/